@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #D0D0D0; 
    border-radius: 5%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b; 
    border-radius: 5%;
}

@layer components{
  
}

.img-bg-footer {
    background-size: cover;
    background-image: url('./assets/image/footer-bg.jpg'); /* Ganti dengan path gambar Anda */
}

.img-banner-section {
    width: 100%;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    background-size: cover;
    background-image: url('./assets/image/banner-bg.jpg'); /* Ganti dengan path gambar Anda */
}

.img-banner {
    background-size: cover;
    background-image: url('./assets/image/banner-image.jpg'); /* Ganti dengan path gambar Anda */
}
  